body {
	background-color: #000;
}

#home-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#home-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(http://getwallpapers.com/wallpaper/full/0/7/a/119827.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://getwallpapers.com/wallpaper/full/a/2/b/119864.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://getwallpapers.com/wallpaper/full/6/f/d/119815.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://getwallpapers.com/wallpaper/full/1/7/9/119916.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://getwallpapers.com/wallpaper/full/f/7/e/119940.jpg);
  animation-delay: 40s; 
}
/* http://getwallpapers.com/wallpaper/full/1/7/9/119916.jpg */
/* http://getwallpapers.com/wallpaper/full/f/7/e/119940.jpg */
/* http://getwallpapers.com/wallpaper/full/a/2/b/119864.jpg */
/* http://getwallpapers.com/wallpaper/full/6/f/d/119815.jpg */
/* http://getwallpapers.com/wallpaper/full/0/7/a/119827.jpg */

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}