          <div class="container">
            <p class="text-muted">&copy; DMRater 2019 | <a href="/locations">Home</a> | <a href="/locations/new">New Location</a></p>
          </div>
</body>
</html>